################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAL/bin/Debug/netcoreapp3.1
/DAL/bin/Debug/netcoreapp3.1
/DAL/bin/Debug/netcoreapp3.1
/BLL/bin/Debug/netcoreapp3.1
/.vs/CartingService
/CartingService/bin/Debug/netcoreapp3.1
/CartingService/obj
/DAL/obj
