################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DAL/bin/Debug/netcoreapp3.1
/DAL/bin/Debug/netcoreapp3.1
/DAL/bin/Debug/netcoreapp3.1
/BLL/bin/Debug/netcoreapp3.1
